<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Farming</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='ran.css')}}">
    <style>
        .box {
            visibility: hidden;
        }
    </style>


</head>
<!-- <body style="background-color:white"> -->
<header class="site-headers">
    <center>
        <div class="box" id="google_translate_element"></div>
    </center>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
            // Function to initiate the TTS
            function speak() {
              const textToSpeak = document.body.innerText; // Get all the content from the page
              const speech = new SpeechSynthesisUtterance(textToSpeak);
          
              // Specify the voice for TTS (optional)
              speech.voice = speechSynthesis.getVoices().find(voice => voice.name === 'Google UK English Female'); // Example voice selection
          
              // Trigger the speech
              window.speechSynthesis.speak(speech);
            }
          </script>
    <div class="wrapper">
        <button class="submit" onclick="speak()">Speak</button>
        <img src="nat.jpg" alt="">
        <div class="text-box">
            <h2><strong>Natural Farming</strong></h2>
<p><strong>
        It is defined as a “chemical- free farming and livestock based”.
        Soundly grounded in agro-ecology, it is a diversified farming system that integrates crops, trees and livestock,
        allowing the optimum use of functional biodiversity.
        It holds the promise of enhancing farmers’ income while delivering many other benefits, such as restoration of
        soil fertility and environmental health, and mitigating
        and/or reducing greenhouse gas emissions.
        This farming approach was introduced by Masanobu Fukuoka, a Japanese farmer and philosopher, in his 1975 book
        The One-Straw Revolution.
        Internationally, Natural Farming is considered a form of regenerative agriculture—a prominent strategy to save
        the planet.
        In India, Natural farming is promoted as Bhartiya Prakritik Krishi Paddhati Programme (BPKP) under Paramparagat
        Krishi Vikas Yojana (PKVY).
        BPKP is aimed at promoting traditional indigenous practices which reduce externally purchased inputs.
    </strong><br><br>
    
    
    at is the Significance of Natural Farming?
    Minimized Cost of Production:
    it is considered as a cost- effective farming practice with scope for raising employment and rural development.
    Ensures Better Health:
    As Natural Farming does not use any synthetic chemicals, health risks and hazards are eliminated. The food has
    higher nutrition density and therefore offers better health
    benefits.
    Employment Generation:
    It generates employment on account of natural farming input enterprises, value addition, marketing in local areas,
    etc. The surplus from natural farming is invested in the village itself.
    As it has the potential to generate employment, thereby stemming the migration of rural youth.
    Environment Conservation:
    It ensures better soil biology, improved agrobiodiversity and a more judicious usage of water with much smaller
    carbon and nitrogen footprints.
    Livestock Sustainability:
    The integration of livestock in the farming system plays an important role in Natural farming and helps in restoring
    the ecosystem. Eco Friendly bio-inputs, such as Jivamrit and Beejamrit,
    are prepared from cow dung and urine, and other natural products.
    Resilience:
    The changes in soil structure with the help of organic carbon, no/low tillage and plant diversity are supporting
    plant growth even under extreme situations like severe droughts and withstanding
    severe flood and wind damage during cyclones.
    NF impacts many farmers positively by imparting resilience to the crops against weather extremities.
    <br><br>
    
    
    Organic food is more expensive because farmers do not get as much out of their land as conventional farmers do.
    Production costs are higher because farmers need more workers.
    Marketing and distribution is not efficient because organic food is produced in smaller amounts.
    Organic farmers should have sufficient knowledge and skills about localized soil systems, meteorology, ecology, and
    other factors that influence crop growth. Without the proper knowledge, an individual
    organic farmer will be unable to protect his crop in critical stages that may arise while farming processes.
    The crops are easily susceptible to illness that may slow down production.
    Organic farms have to go through tough certification processes.
    <br><br>

        </div>
        <div class="spac">
            <u> FOR MORE INFORMATION CLICK ON THE BELOW LINKS:</u>
            <a href="https://www.manage.gov.in/NaturalFarming/">
                <center>Click Here For More Info</center>
            </a>
            <br>
            <a href="https://www.artofliving.org/in-en/projects/natural-farming">
                <center>Click Here For More Info</center>
            </a>
            </p>
        </div>


        </pre>
        </section>

        </body>

</html>