<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUSTAINABLE DEVELOPMENT</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static' , filename='Secondpage.css')}}"
    />
  </head>
  <body>
    <div id="invisibleElement">
      <div id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            {
              pageLanguage: "en",
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            },
            "google_translate_element"
          );
        }
      </script>

      <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
      ></script>
    </div>
    <main class="table">
      <section class="table_header">
        <h1>Sustainable Farming</h1>
      </section>
      <section class="table_body">
        <table>
          <thead>
            <tr>
              <th>Methods to Follow</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/agroforestry">Agroforest</a></td>
            </tr>
            <tr>
              <td>
                <a href="/consagriculture"> Conversation Agriculture</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/covercropsandmulching"> Cover Crops and Mulching</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/sorintensification">
                  System of Rice Intensification</a
                >
              </td>
            </tr>
            <tr>
              <td><a href="/vermicomposting">Vermi Composting</a></td>
            </tr>
            <tr>
              <td><a href="/naturalfarming">Natural Farming</a></td>
            </tr>
            <tr>
              <td><a href="/orgfarming">Organic Farmer</a></td>
            </tr>
            <tr>
              <td><a href="/precfarmi">Precision Farming</a></td>
            </tr>
            <tr>
              <td>
                <a href="/integratedpestmanagement"
                  >Integrated Pest Management</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
