<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensors</title>
  </head>
  <body>
    <h1>Soil NPK Sensor</h1>
    <hr />
    <p>
      The soil NPK sensor is suitable for detecting the content of nitrogen,
      phosphorus, and potassium in the soil. It helps in determining the
      fertility of the soil thereby facilitating the systematic assessment of
      the soil condition. The sensor can be buried in the soil for a long time.
      It has a High-quality probe, rust resistance, electrolytic resistance,
      salt & alkali corrosion resistance, to ensure the long-term operation of
      the probe part. Therefore, it is suitable for all kinds of soil. It is
      suitable for the detection of alkaline soil, acid soil, substrate soil,
      seedling bed soil & coconut bran soil.
    </p>
    <img src="static/npk.jpg" alt="error" />
    <p>
      The sensor doesn’t require any chemical reagent. Since it has High
      measurement accuracy, fast response speed, and good interchangeability, it
      can be used with any microcontroller. You cannot use the sensor directly
      with the microcontroller as it has a Modbus Communication port. Hence you
      need any Modbus Module like RS485/MAX485 and connect the sensor to the
      microcontroller. The sensor operates on 9-24V & power consumption is very
      low. While talking about the accuracy of the sensor, it is up to within
      2%. The nitrogen, phosphorous & potassium measuring resolution is up to
      1mg/kg (mg/l).
    </p>
    <img src="static/npk2.jpg" alt="error" />
    <h3>Specifications</h3>
    <ol>
      <li><strong> Power:</strong> 9V-24V</li>
      <li><strong> Measuring Range:</strong>0-1999 mg/kg (mg/l)</li>
      <li><strong> Operating Temperature:</strong> 5-45 °C</li>
      <li><strong> Resolution:</strong> 1mg/kg</li>
      <li><strong> Precision:</strong>±2% F.S.</li>
      <li><strong> Output Signal:</strong>RS485</li>
      <li><strong> Baud Rate:</strong> 2400/4800/9600</li>
      <li><strong> Protection Class:</strong>IP68</li>
    </ol>
    <br /><br />
    <h1>Soil PH Sensor</h1>
    <hr />
    <p>
      Soil pH is a measure of the acidity or alkalinity of the soil. A pH value
      is actually a measure of hydrogen ion concentration. Because hydrogen ion
      concentration varies over a wide range, a logarithmic scale (pH) is used
    </p>
  </body>
</html>
