<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorintensification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='ran.css')}}">
    <style>
        .box {
            visibility: hidden;
        }
    </style>


</head>
<!-- <body style="background-color:white"> -->
<header class="site-headers">
    <center>
        <div class="box" id="google_translate_element"></div>
    </center>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="wrapper">
        <img src="sor.jpg" alt="">
        <div class="text-box">

            <h1><strong> SOR intensification</strong></h1>
            
            
            
            <p>
                    The System of Rice Intensification (SRI) is a farming methodology aimed at increasing the yield of rice produced
                    in farming. It is a low-water, labor-intensive method that uses younger seedlings singly spaced and typically
                    hand weeded with special tools.
               
                <br><br>
                
                
                SRI is initially labour intensive
            
                Needs 50% more man-days for transplanting and weeding.
                Mobilises labour to work for profit.
                It offers an alternative to the resource poor, who put in their family labour.
                Once the right skills are learnt and implemented, the labour costs will be lesser.
                SRI encourages rice plant to grow healthy with
            
                Large root volume
                Profuse and strong tillers - Maximum tillering (30 tillers/plant can be easily achieved; 50 tillers per plant are
                quite attainable) occurs concurrently with panicle initiation. Under excellent management even 100 fertile tillers
                per plant or even more can be achieved due to early transplanting and absence of die back of roots.
                Non lodging
                Big panicles
                More and well filled grain panicles and higher grain weight
                Resists insects because it allows rice to absorb soil nutrients naturally <br><br>
                
                <br><br>
                Benefits of SRI
                Higher yields - Both grain and straw
                Reduced duration (by 10 days)
                Lesser chemical inputs
                Less water requirement
                Less chaffy grain %
                Grain weight increased without change in grain size
                Higher head rice recovery
                Withstand cyclonic gales
                Cold tolerance
                Soil health improves through biological activity
                Disadvantages
                Higher labour costs in the initial years
                Difficulties in acquiring the necessary skills
                Not suitable when no irrigation source available
            
                <br><br>
                
                
        </div>
        <div class="spac">
<u> FOR MORE INFORMATION CLICK ON THE BELOW LINKS:</u>
<a href="https://byjus.com/free-ias-prep/system-of-rice-intensification/">
    <center>Press here for more information</center>
</a>
<a href="https://journalsofindia.com/system-of-rice-intensification-sri-2/">
    <center>Press here for more information</center>
</a>
</p>
        </div>


        </pre>
        </section>

        </body>

</html>